@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-Medium.ttf') format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
